@import url('https://fonts.googleapis.com/css?family=Trirong|Open+Sans|Raleway');

h1,h2,h3    { color: black; font-family: 'Trirong', serif;
              margin: 0; text-align: center; padding:0;     }

h1 a,h2 a,h3 a  {color: black; text-decoration: none;}

h1  { font-weight: 300; padding-top: 50px;}
h2  { font-weight: 200;}
h3  { font-weight: 100;}

body, input { font-family: 'Raleway', sans-serif; font-weight: 50;}

body        { background: white; margin: 0; padding: 0; height:100%; }

p   { margin: 0; padding:4px;     }

.box        { 
    /*
    width: 80%;
    height: 180px;
    */
    width: 85%;
    margin: auto; 
    padding: 20px;
    background: white; 
    /*box-shadow: 0 1px 4px #BED1D4;
    border-radius: 2px; */
    
}


.error      { background: red; padding: 0px 0px; color: black;
              border-radius: 3px; text-align: center;}

.urlinput   { 
    /*width: 200px; */
    width: 100%;
    min-width: 50px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align: center;
}

.urlinput-button{
    width: 100%;
    min-width: 88px;
}

#url_count{
    text-align:center;
}

.shorten_link   { white-space: nowrap; overflow: hidden;
                  text-overflow: ellipsis;}

/*DL, DT, DD TAGS LIST DATA*/
dl {
    margin-bottom:0px;
    
}
 
dl dt {
    float:left;
    margin-right:5px; 
    padding:0px;  
    width:100px; 
}

.row{
    margin:0 auto;
    width: 80%;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

ul.topnav li, li.dropdown {display: inline-block;  font-weight: 500;}



ul.topnav li a, .dropbtn {
    display: block;
    text-align: center;
    padding: 0px 14px;
    text-decoration: none;
    color: #4d4d4d;
    
}


ul.topnav li a:hover:not(.active) {color: black;}


.topnav {
    font-family: 'Trirong', monospace;
    font-size: 14px;
    float:center;
    text-align:center;
    margin: 0;
    padding: 0;
    background: white;
}


.dropdown-content {
    display: none;
    position: absolute;
    float:center;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    margin-top: 12px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
/*
.dropdown:hover .dropdown-content {
    display: block;
}
*/
.dropdown-content-show {
    display: block;
}



.vertical-space{
    margin:10px;
}

/* Sticky Footer CSS */
/* "body padding-bottom"="footer height"=-"footer margin-top" */
html, body {height: 100%;}
#container {min-height: 100%;}
#body      {overflow:auto; padding-bottom: 50px;}
#footer    {position: relative; margin-top: -50px; height: 50px;
	        clear:both; }
/*Opera Fix*/
body:before {content:""; height:100%; float:left; width:0;
	         margin-top:-32767px;/}
/* End of Sticky Footer CSS */

#footer     {text-align: center; background: white;}
#footer a   {text-decoration: none;}

#header *, #footer *:focus{outline:0;}

.social-icons{
    height: 28px;
    opacity: 1;
}

.social-icons:hover {opacity: 0.4;}

@media screen and (max-width: 400px){
    ul.topnav li {display: block; padding-bottom: 0px;}
    .dropdown-content { position: relative; margin-top: 0px;}
}