{% extends "layout.html" %}

{% block page %}
<div class="vertical-space-uncollapsable"></div>
<div class="project-shelf">
    <a href="/shorten" class="project-link"><div class="project-box" target="_blank"><br/>
        sHorten
        <br/><br/><div class="project-box-text">
            Takes your long url and gives you a short handy one.
        </div>
    </div></a>
    <a href="https://github.com/arzeid/MyWebsite"  class="project-link" target="_blank"><div class="project-box"><br/>
        MyWebsite
        <br/><br/><div class="project-box-text">
            Personal site. Written in python, with some front end javascript.
        </div>
    </div></a>
    <div class="project-box">zzzzzzz</div>
    <div class="project-box">zzzzzzz</div>
    <div class="project-box">zzzzzzz</div>
    <div class="project-box">zzzzzzz</div>
    
</div>
<div class="vertical-space-uncollapsable"></div>
{% endblock %}