<!doctype html>
<title>{% block title %}{% endblock %} Abdelrahmein Zeid</title>
<link rel=stylesheet href=/static/style.css type=text/css>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/javascript/css_engine.js"></script>
</head>

<div id="container">
    <div id="header">

        <h1><a href=/ id="logo">Abdelrahmein Zeid</a></h1>
        <hr/>
        <ul class="topnav">
            
            <!--
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropbtn">Projects &#9662;</a>
                <div class="dropdown-content">
                  <a href="/shorten">Shorten</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
            </li>
            -->
            
            
            
            <li>
                <a href="https://drive.google.com/file/d/0B7CoVsAaa3azazBwNGhuNXVYY0U/view?usp=sharing" 
                   target="_blank">
                    Resume
                </a>
            </li>
            
            <li>
                <a href="/shorten">
                    Shorten
                </a>
            </li>

        </ul>
        <hr/>
    </div>
    
    <div id="body">
        
        <div class="vertical-space"></div>

        {% block page %}{% endblock %}
        
        <div class="vertical-space"></div>
        
    </div>
</div>    

<div id="footer">
    <hr/>
    
    <!--
    <a href="http://www.facebook.com/abdelrahmein.zeid" target="_blank">
        <img src="/static/social-icons/facebook.png"
             srcset="/static/social-icons/facebook.svg"
             alt="facebook icon" class="social-icons">
    </a>
    -->
    <a href="mailto:arzeid.1994@gmail.com" target="_blank">
        <img src="/static/social-icons/gmail.png"
             srcset="/static/social-icons/gmail.svg"
             alt="gmail icon" class="social-icons">
    </a>
    <a href="https://ca.linkedin.com/in/abdelrahmein-zeid" target="_blank">
        <img src="/static/social-icons/linkedin.png"
             srcset="/static/social-icons/linkedin.svg"
             alt="linkedin icon" class="social-icons">
    </a>
    <a href="https://github.com/arzeid" target="_blank">
        <img src="/static/social-icons/github.png"
             srcset="/static/social-icons/github.svg"
             alt="github icon" class="social-icons">
    </a>
    <a href="https://soundcloud.com/arzeid" target="_blank">
        <img src="/static/social-icons/soundcloud.png"
             srcset="/static/social-icons/soundcloud.svg"
             alt="soundcloud icon" class="social-icons">
    </a>
</div>
