{% extends "shortly.html" %}
{% block title %}Create New Short URL -{% endblock %}
{% block body %}
    <!-- 
    <h3>Submit URL</h3>
    -->
    
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% else %}
        <div class="error-space"></div>
    {% endif %}
    <form action="" method=post>
    
        
        <input type=text name=url value="{{ url }}" class=urlinput 
             placeholder="Your URL Here">
        <input type=submit value="Shorten" class=urlinput-button>
        
    </form>
{% endblock %}